
body, div,
h1, h2, h3, h4, h5, h6,
a, p, blockquote, pre, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
    text-decoration: none;
    font-weight: normal;
    color:inherit;
    background: #444;
}
